:root {
  /* Background Colors */
  --bg-header: #474747;
  --bg-icons: #f9f9f7;
  --bg-home: #dbdfd0;
  --bg-maroon: #ad343e;

  /* Text Color */
  --tx-brand: #474747;
  --tx-nav: #2c2f24;
  --tx-whitish: #f9f9f7;
  --tx-maroon: #ad343e;
  --tx-greyish: #dbdfd0;

  /* Border */
  --br-outline: #2c2f24;
}

.bg-header {
  background-color: var(--bg-header) !important;
}

.bg-icons {
  background-color: rgba(249, 249, 247, 0.12) !important;
}

.bg-icons-imp {
  background-color: rgba(249, 249, 247, 0.12) !important;
}

.main-txt-c {
  color: var(--tx-brand) !important;
}

.txt-nav {
  color: var(--tx-nav) !important;
}

.bg-home {
  background-color: var(--bg-home) !important;
}

.br-outline {
  border: 1.5px solid var(--br-outline) !important;
}

.big-text {
  font-size: 100px;
}

.bg-maroon {
  background-color: var(--bg-maroon);
}

.rounded-12 {
  border-radius: 12px !important;
}

.whitish-txt {
  color: var(--tx-whitish);
}

.bg-div {
  background-color: var(--bg-icons) !important;
}

.txt-maroon {
  color: var(--tx-maroon);
}

.txt-greyish {
  color: var(--tx-greyish);
}
